@font-face {
    font-family: 'kingthings_italiqueregular';
    src: url('../fonts/Kingthings_Italique-webfont.eot');
    src: url('../fonts/Kingthings_Italique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Kingthings_Italique-webfont.woff') format('woff'),
         url('../fonts/Kingthings_Italique-webfont.ttf') format('truetype'),
         url('../fonts/Kingthings_Italique-webfont.svg#kingthings_italiqueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

